/* config par default */
.label{
	-fx-padding: 2px 10px 2px 10px;
	-fx-font-size: 15px;
}

TextField{
	-fx-font-size: 15px;
    -fx-pref-height: 30px;
    -fx-pref-width: 250px;
}

.button{
	-fx-background-color: #2b2d42; 
	-fx-font-size: 13px;
	-fx-text-fill: #f8f9fa;
	-fx-border-width: 1px; 
    -fx-border-radius: 8px; 
    -fx-background-radius: 8px; 
    -fx-min-width: 200px;
    -fx-min-height: 35px
}
.button:hover{
	-fx-background-color: #0077b6; 
}

.tab{
	-fx-background-color: #2b2d42;
	-fx-padding: 5px 20px;
}

.tab-label{
	-fx-font-size: 13px;
    -fx-text-fill: #f8f9fa;
}

.tab:selected{
	-fx-background-color: #0077b6; 
}

/* SplitPane gauche*/
#leftContainer{
	-fx-min-width: 250px;
}

#afficherResultatContainer{
	-fx-padding: 10px 0 0 0;
	-fx-spacing: 2px; 
}

/* element creer par la recherche (HBox label checkbox) */
#hContainer {
    -fx-padding: 5px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px;
    -fx-background-color: #e4e4e7;
}

#hContainer:hover {
    -fx-background-color: #0077b6; 
}

#hContainer .label{
	-fx-label-padding: 0 100px 0 0;
	-fx-font-size: 13px;
}

#hContainer .check-box{
	-fx-font-size: 18px;
}

/* Conteneur principale */
#btnSelectionImage{
	-fx-margin: 0 0 0 50px;
}

#glisserDeposer{
	-fx-pref-width: 350px;
	-fx-pref-height: 350px;
	-fx-border-color: #495057;
	-fx-alignment: center;
}

#glisserDeposer .label {
	-fx-alignment: center;
}

#checkBoxContainer {
	-fx-padding-top: 10px;
}